{% extends "shared.html.j2" %}
{% block title %}Contato{% endblock %}

{% block body %}

<br>
<h1>Contatos</h1>

{% for contato in contatos %}
  <div class="card border-danger mb-3">
    <div class="card-header">Emergência</div>
    <div class="card-body">
      <h5 class="card-title">{{contato.subject}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{contato.usr_name}} - <i>{{contato.date}}</i></h6>
      <p class="card-text">{{contato.description}}</p>
      <a href="#" class="card-link">Iniciar Chat</a>
      <a href="#" class="card-link">Ver mais detalhes</a>
    </div>
  </div>
{% endfor %}



<script type="text/javascript">
  $(document).ready(function(){
    $('#nav_contato').addClass('active')
  })
</script>

{% endblock %}
