{% extends "shared.html.j2" %}
{% block title %}Contato Usuário{% endblock %}

{% block body %}

<br>

<form action="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Contato Usuário</legend>
    <div class="form-group">
      {{ form.nome.label(class="form-control-label") }}

      {% if form.errors.nome %}
        {{ form.nome(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.nome.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.nome(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}

      {% if form.errors.email %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.celular.label(class="form-control-label") }}

      {% if form.errors.celular %}
        {{ form.celular(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.celular.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.celular(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.assunto.label(class="form-control-label") }}

      {% if form.errors.assunto %}
        {{ form.assunto(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.assunto.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.assunto(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.descricao.label(class="form-control-label") }}

      {% if form.errors.descricao %}
        {{ form.descricao(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.descricao.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.descricao(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.foto.label(class="form-control-label") }}

      {% if form.errors.foto %}
        {{ form.foto(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.foto.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.foto(class="") }}
      {% endif %}
    </div>

  </fieldset>
  <div class="form-group">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>

<!--
<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" aria-describedby="assuntoHelp" placeholder="Seu nome">
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" placeholder="Seu email">
  </div>
  <div class="form-group">
    <label for="assunto">Celular para contato</label>
    <input type="tel" class="form-control" id="assunto" aria-describedby="celHelp" placeholder="Seu celular">
    <small id="celHelp" class="form-text text-muted">Apenas utilizado caso o nosso time queira sanar alguma dúvida!</small>
  </div>
  <div class="form-group">
    <label for="assunto">Assunto</label>
    <input type="text" class="form-control" id="assunto" aria-describedby="assuntoHelp" placeholder="Adicione um assunto">
    <small id="assuntoHelp" class="form-text text-muted">O Assunto pode ser qualquer coisa que resuma sua dúvida ou motivo de contato!</small>
  </div>
  <div class="form-group">
    <label for="descricao">Descrição do problema (ou dúvida)</label>
    <textarea class="form-control" id="descricao" rows="4"></textarea>
  </div>
  <div class="form-group">
    <label for="foto">Foto</label>
    <input type="file" class="form-control-file" aria-describedby="fotoHelp" id="foto" accept="image/*">
    <small id="fotoHelp" class="form-text text-muted">Caso queira enviar uma foto para facilitar o contato!</small>
  </div>
  <button type="submit" class="btn btn-primary">Enviar para equipe de suporte</button>
</form>
-->

<script type="text/javascript">
  $(document).ready(function(){
    $('#nav_contato_usuario').addClass('active')
  })
</script>

{% endblock %}
